<form action='' method = "POST">
    <p>DNI <input type = "integer" name = "dni"  value="{{person.dni}}"/></p>
    <p>First name <input type = "text" name = "first_name" value="{{person.first_name}}"/></p>
    <p>Last name <input type = "text" name = "last_name" value="{{person.last_name}}"/></p>
    <p>Age <input type = "integer" name = "age"  value="{{person.age}}"/></p>
    <p>Cellphone <input type = "integer" name = "cellphone"  value="{{person.cellphone}}"/></p>
    <p>Address <input type = "text" name = "address" value="{{person.address}}"/></p>
    <p><input type = "submit" value = "Submit" /></p>
</form>
<button><a href="/data">Back</a></button>
